nav.nav {
	position: sticky;
	top: calc(37.5pt + 2rem);
	left: 0;
	border-bottom: 1px solid #ccc;

	div.navContestName {
		display: grid;
		background: linear-gradient(to right, hsl(210, 100%, 10%), hsl(210, 100%, 17%));
		color: white;
		font-size: 1.2em;
		padding: 0.5em 1.2em;
		grid-template-columns: auto 300px;
	}

	div.navOthers {
		position: sticky;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		background-color: white;
		color: black;
		font-size: 1.2em;

		>div {
			display: block;
			text-align: center;
			margin: 0.5em auto;

			a {
				color: black;
			}
		}
	}
}