:root,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-roboto), var(--font-noto-sans-jp);

	h2 {
		font-weight: 300;
		margin-left: .5rem;
	}

	h3 {
		font-weight: 300;
		margin-left: 1rem;
	}
}