:root,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-lato), var(--font-noto-sans-jp);

	h1 {
		font-weight: 400;
	}

	h2 {
		font-weight: 300;
	}

	h3 {
		font-weight: 400;
	}

	a {
		text-decoration: none;
	}

	ol,
	ul {
		li {
			padding: .5rem;
		}
	}

	hr {
		border: 1px solid #ccc;
	}

	details {
		border: 1px solid #aaa;
		border-radius: 4px;
		padding: 0.5em 0.5em 0;

		summary {
			font-weight: bold;
			margin: -0.5em -0.5em 0;
			padding: 0.5em;
			user-select: none;
		}

		&[open] summary {
			border-bottom: 1px solid #aaa;
			margin-bottom: 0.5em;
		}
	}
}

.material-symbols-outlined {
	vertical-align: -3px;
	font-size: 1em;
	line-height: 1;
}