:root,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-lato), var(--font-noto-sans-jp);

	h1 {
		font-weight: 400;
	}

	h2 {
		font-weight: 300;
		margin-left: .5rem;
	}

	h3 {
		font-weight: 400;
		margin-left: 1rem;
	}

	a {
		text-decoration: none;
	}

	table {
		width: 100%;
		border-collapse: collapse;

		th,
		td {
			text-align: center;
			border: 1px solid black;
			padding: .5rem;
		}
	}

	ol,
	ul {
		li {
			padding: .5rem;
		}
	}
}

.material-symbols-outlined {
	vertical-align: -3px;
	font-size: 1em;
	line-height: 1;
}