:root,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-lato), var(--font-noto-sans-jp);

	h1 {
		font-weight: 400;
	}

	h2 {
		font-weight: 300;
	}

	h3 {
		font-weight: 400;
	}

	a {
		text-decoration: none;
	}

	ol,
	ul {
		li {
			padding: .2rem;
		}
	}

	hr {
		border: 1px solid #ccc;
	}

	details {
		border: 1px solid #aaa;
		border-radius: 4px;
		padding: 0.5em 0.5em 0;

		summary {
			font-weight: bold;
			margin: -0.5em -0.5em 0;
			padding: 0.5em;
			user-select: none;
		}

		&[open] summary {
			border-bottom: 1px solid #aaa;
			margin-bottom: 0.5em;
		}
	}

	img {
		max-width: min(100%, 600px);
		max-height: 100vh;
	}
}

.material-symbols-outlined {
	vertical-align: -3px;
	font-size: 1em;
	line-height: 1;
}

@media print {
	h2 {
		break-before: avoid-region;
		break-after: avoid;
	}

	h2~*:not(h2) {
		break-before: avoid;
	}

	@page {
		margin: 20mm 0;
		zoom: 0.8;
	}

	@page :first {
		margin-top: 0;
	}
}