.nav {
	position: sticky;
	top: 0;
	left: 0;
	background: #fffe;
	height: max-content;
	padding: 1rem;

	h2 {
		text-align: center;
		font-size: 20pt;
		line-height: 1;
		height: 1.5em;
		padding: .3rem;
		margin: 0;

		* {
			vertical-align: middle;
			padding: 0 .1em;
		}
	}
}

.main {
	main {
		padding: 3rem 5rem;
		font-size: 1.2em;
	}
}