.not_found {

	>div {
		padding: 0 2rem;
		color: black;

		>span {
			color: #777;
		}

		>h1 {
			text-align: center;
			font-size: 3em;
		}

		>div.lost_person {

			>span {
				display: block;
				text-align: center;
				font-size: 2em;
			}

		}

	}
}