div.page {
    margin: 0;
    width: 100%;
    background: #222;
    color: white;

    div.title {
        background-color: #000;
        color: #ddd;
        text-align: center;
        height: 18em;
        padding: .5em 3em;
        font-size: 15pt;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 3em;
        justify-content: center;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            >div {
                display: block;
                text-align: left;
            }
        }

        >div.description {
            margin: 0 -1.5rem;

            span {
                font-size: 1.2em;
            }

            h1 {
                margin: 1rem 2rem;
            }
        }

        h1 {
            font-size: 2.5em;
            font-weight: 300;
        }

        .logo {
            zoom: 1.5;
            width: max-content;
            /*float: right;*/
        }
    }

    div.menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        padding: 3rem 1.5rem;

        >div {
            background: white;
            color: black;
            display: flex;
            flex-direction: column;

            h3 {
                margin-left: 1.3rem;
                font-size: 1.4em;
            }

            >div {
                padding: 1rem 2rem;
                box-sizing: border-box;
                border-bottom: 1px solid #ccc;

                &.see_more {
                    text-align: right;
                    margin-top: auto;
                    padding: .1rem 1.4rem;
                    border-top: 1px solid #ccc;
                }
            }

            >div:first-of-type {
                border-top: 1px solid #ccc;
            }

            &.contests {

                >div {

                    &:hover {
                        background: #eee;
                    }

                    &.see_more:hover {
                        background: white;
                    }

                    >span.type {
                        background: black;
                        color: white;
                        padding: .2rem 1.4rem;
                        font-size: 0.9em;
                    }

                    >span.schedule {
                        color: #777;
                        margin-left: 1rem;
                        font-size: 0.9em;
                    }

                    >h4 {
                        font-weight: 400;
                        margin: 1.5rem 0 1rem 0;
                    }
                }
            }

            &.posts {
                h4 {
                    background: black;
                    color: white;
                    padding: 1rem;
                }

                >div:not(.see_more) {
                    font-size: .8em;
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    div.page {
        div.title {
            position: relative;

            >div.logo {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;

                >svg {
                    height: 7em;
                    filter: contrast(800%);
                }
            }

            >div.description {
                z-index: 1;
            }
        }
    }

}