nav.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: sticky;
    top: calc(37.5pt + 2rem + 1px);
    left: 0;
    background: #fffc;
    z-index: 100;

    div.block {
        text-align: center;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: 0;
        font-size: 1.2em;

        >a {
            color: black;
            text-decoration: none;
            display: block;
            padding: .5em 0;
        }
    }
}