nav.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: sticky;
    top: calc(37.5pt + 2rem);
    left: 0;
    
    div.block {
        text-align: center;
        border-left: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
        margin: 0;
        padding: .5em 0;
        font-size: 1.2em;
        >a {
            color: black;
            text-decoration: none;
        }
    }
}
