.container {

	details {

		font-size: 1em;
		font-weight: 400;
		line-height: 1.75;
		margin: 1rem 0;
		padding: 1rem;
		border-radius: 1rem;
		border: 1px solid #aaa;
		overflow: hidden;
		transition: all 0.3s ease-in-out;

		summary {

			font-size: 1.25em;
			font-weight: 700;
			line-height: 1.25;
			color: #3f3f46;
			cursor: pointer;

		}

	}

}