name: Publish Next.js Standalone

on:
  push:
    branches:
      - main

env:
  W_AUTH_DATABASE_URL: ${{ secrets.W_AUTH_DATABASE_URL }}
  ATSUOCODER_DATABASE_URL: ${{ secrets.ATSUOCODER_DATABASE_URL }}
  LOGIN_URL: ${{ secrets.LOGIN_URL }}
  SIGNUP_URL: ${{ secrets.SIGNUP_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com
          scope: "@atsuo-tech"

      - run: npm ci
      - run: npm run generate
      - run: npm run clean
      - run: npm run build

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com
          scope: "@atsuo-tech"

      - run: npm publish
